@import url("all.css");

.dropdown-menu{
    background-color: #B3D7F8;
}

#logo{
    height: 35px;
    width: 85px;
}

.mis_vis {
    height: 250px;
    width: 300px;
}

#mis{
	text-align: justify;
}

#vis{
    text-align: justify;
}


.news_events{
    background-color: #cce5ff;
}

.new_eve{
    padding: 20px;
}

.scroll_top{
    bottom: 200px;
    right: 100px;
    position: fixed;
    cursor: pointer;
}

#banner{
    height: 350px;
    width: 100%;
}
